body {
    
    background: rgb(155, 155, 154);
    color: rgb(65, 65, 64);
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Titillium Web', sans-serif;


}

h1 {
    font-size: 35px;
    text-align: center;
}


h2 {
    font-family: 'Titillium Web', sans-serif;
font-family: 'Bebas Neue', cursive;
}

h3 {
    margin: 2px auto 2px auto;
}
ul {
    list-style: none;
}
ul{
    text-align: center;
}
nav {
    background-color: rgb(63, 62, 62);
    text-align: center;    
    height: 40px;
    padding-top: 10px;
    
    
}
nav a{
    color: rgb(250, 248, 248);
    margin-right: 10px;
    text-decoration: none;
    border: 2px dashed ;
    padding: 2px;
    
    
}
.center{
    text-align: center;
}
div{
    text-align: center;
}
.lead{
    font-style: italic;
    font-weight: bold;
    color: rgb(36, 36, 36);
}
a:hover{
    color: hotpink;
}
.biogr {
    text-align: center;
}
textarea {
   height: 150px;
   width: 350px;
}
